@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Strike&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.sec1 .col-sm-6 ul img{
  width: 135px;
  padding-left: 20px;
}
.sec1 .col-sm-6 ul li:hover{    
    color: #fff;
}
.sec1 .col-sm-5 ul li:hover{    
    color: #fff;
}
.sec1 .col-sm-6 ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    
}
.sec1 .col-sm-6 ul li{
    padding-left: 35px;  
    font-family: "Protest Strike", sans-serif;
    color: #264796;
    font-size: 18px; 
}
.sec1 .col-sm-5 ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    align-items: center;
    
}
.sec1 .row{
    margin: 0;
}
.sec1 .col-sm-5 ul li{
    padding-left: 20px; 
    padding-top: 8px;  
    font-family: "Protest Strike", sans-serif;
    color: #264796;
}
.sec1{
    animation: changeColor 5s infinite;
     height: 100vh;
}
@keyframes changeColor{
    0%, 100% { background-color: #08d7d5; }
  33.33% { background-color: #800080; } 
  66.66% { background-color:#FFFF00; }
}

.left img{
    width: 130px;
}
.left .col-sm-6{
    padding-top: 40px;
    padding-left: 30px;
}
.left{
    display: flex;
}
.left .col-sm-6 h3{
    color: #fff;
    font-family: "Protest Strike", sans-serif;
}
.left .col-sm-6 p{
    color: #fff;
}
.right .col-sm-9 h3{
    color: #fff;
    font-family: "Protest Strike", sans-serif;
}
.right .col-sm-9 p{
    color: #fff;
}
.right img{
    width: 130px;
}
.right{
    display: flex;
}
.right .col-sm-9{
    padding-top: 40px;
    padding-left: 30px;
}
.sec1 .container{
    padding-top: 80px;
}
.sec1 {
    background-image: url(../images/knowledge-bg.png);
    
}
.left .col-sm-6 ul img{
    width: 60px;
    padding-bottom: 10px;
}
.sec1 .child h1{
    color: #fff;
    font-family: "Archivo Black", sans-serif;
    margin: 0;
    padding: 0;
}
.sec1 .child h4{
    color: #fff;
    font-family: "Protest Strike", sans-serif;
    margin: 0;
    padding: 0;
}
.child{
    padding-top: 50px;
}
.sec2 .left-sec img{
 width: 250px;
}
.sec2{
    padding-top: 50px;
}
.sec2 .col-sm-6 h5{
    font-size: 16px;
    color: #0b509d;;
}
.sec2 .col-sm-6 h2{
    color: #28405f;
    font-family: "Protest Strike", sans-serif;
}
.sec2 .col-sm-6 p span{
    display: block;
}
.sec2 .col-sm-6 p{
    color: #6c6c6c;
    font-family: "Kanit", sans-serif;
}
.sec2 .right-sec img{
    width: 250px;
}
.sec2 .left-sec{
    padding-left: 20px;
}
.sec2 .left-sec .row{
    margin: 0;
}
.sec2 .right-sec .row{
    margin: 0;
}
.sec2 .col-sm-12{
    text-align: center;
}
.sec2 .col-sm-12 h6{
    text-align: center;
    color: #0b509d;
}
.sec3{
    height: 100vh;
    background-color: rgb(176,229,199);
}
.sec3 .col-sm-3 img{
    width: 150%;
    margin-top: 70px;
}
.sec3 .col-sm-8{
    padding-left: 120px;
    padding-top: 50px;
}
.sec3 .col-sm-8 h1{
    color: #28405f;
    font-family: "Archivo Black", sans-serif;
}
.sec3 .col-sm-8 p{
    color: #28405f;
    font-family: "Rubik", sans-serif;
}
.sec3 .col-sm-8 img{
    width: 50px;
}
.sec3 .col-sm-3 p{
    font-size: 12px;
    font-family: "Rubik", sans-serif;
}
.my-sec .col-sm-3 img{
    width: 100px;
    
}
.sec4 {
    padding-top: 30px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec4 .col-sm-5{
    background-image: url(../images/why-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 25px;
}
.sec4 .col-sm-5 h1{
    color: #28405f;
    font-family: "Archivo Black", sans-serif;
    
}
.sec4 .row{
    margin: 0;
}
.sec4 .col-sm-3 .box{
    height: 400px;
    width: 350px;
    padding-right: 20px;
    background-color: #6c6c6c;
    border: 1px solid grey;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}
.sec4 .col-sm-3 p{
    font-family: "Roboto", sans-serif;
}
.box:hover{
    transform: scale(1.1);
}
.sec4 .col-sm-3 .box h3{
    color: #28405f;
    font-family: "Archivo Black", sans-serif;   
}
.sec4 .col-sm-3 .box-2{
    padding-left: 25px;
    background-color: #FFFF00;
    height: 400px;
    width: 350px;
    border: 1px solid yellow; 
    border-radius: 10px;
    transition: all 1s ease-in-out;
}
.box-2:hover{
    transform: scale(1.1);
}
.sec4 .col-sm-3 .box-2 h3{
    color: #28405f;
    font-family: "Archivo Black", sans-serif;  
    
}
.sec5 .col-sm-12 h1{
    color: #28405f;
    font-family: "Archivo Black", sans-serif; 
    padding-left: 20px; 
}
.sec6 .col-sm-1 img{
    width: 100px;
    /* height: 159px; */
}
.sec6{
    height: 100vh;
    display: flex;
    align-items: center;
}
.sec6 .child-1 img{
    width: 100px;
}
.sec6 .child-1 h6{
    color: #28405f;
}
.sec6 .child-1 p span{
    display: block;
}
.sec6 .child-1 p{
    color: #9d9e9e;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
}
.sec6 .child-1{
    margin-left: 70px;
    text-align: center;
}
.sec7{
    height: 100vh;
    background-color: #007aff;
}
.sec7 .col-sm-2{
    padding-top: 80px;
    padding-left: 20px;
}
.sec7 .col-sm-2 h5{
    color: #fff;
    font-size: 16px
}
.sec7 .col-sm-2 h6{
    color: #8fc4ff;
    margin-top: 20px;
    font-size: 14px;
}
.sec7 .row{
    margin: 0;
}
.sec7 .child-2 h5{
    margin-top: 45px;
}
.sec7 .child-3 h5{
    margin-top: 25px;
}
.icons i{
    color: #fff;
    margin-right: 10px;
}
.sec7 .col-sm-5 h5{
    color: #fff;
}
.sec7 .col-sm-6 h6{
    color: #8fc4ff;
}
.sec7 .child-4{
    margin-top: 30px;
}


